<div class="row no-gutters">
    <div class="col-auto">
        <aside class="header-left">
            <h4>Janaprasthanam</h4>
        </aside>
    </div>
    <div class="col">
        <section class="header-right text-right">
            <span id="logout">Logout</span>
        </section>
    </div>
</div>