<aside>
    <nav>
        <ul class="nav nav-pills pull-right">
            <li><a href="/home-slider">Banner Slider</a></li>
            <li><a href="/create-banner">View Banner Slider</a></li>
            <li><a href="/posts">Create Post</a></li>
            <li><a href="/create-post">View Posts</a></li>
            <li><a href="/breaking">Breaking News</a></li>
            <li><a href="/create-breaking">View Breaking News</a></li>
            <li><a href="/create-category">View Categories</a></li>
            <li><a href="/e-paper">E-Paper</a></li>
            <li><a href="/create-e-paper">View E-Papers</a></li>
            <li><a href="/youtube">Youtube</a></li>
            <li><a href="/create-youtube">View Youtube</a></li>
            
        </ul>
    </nav>
</aside>